<%= render partial: "confirm_text_modal" %>

<div class="card">
  <div class="card-body">

    <%= form_with(url: send_text_path, id: 'send-text-form')  do |form| %>

      <div class="field">
        <h6 class="card-title"><%= form.label :message %></h6>
        <small class="card-subtitle mb-2 text-muted">
            <div>To substitute the recipient's name, click <button id="first_name_button" type="button">Insert First Name</button>.</div>
            <div>Ex:  "Hi {FIRSTNAME}!  Don't forget to practice your music!" becomes "Hi Pat!  Don't forget to practice your music!"</div>
        </small>
        <%= form.text_area :message, class: "form-control" %>
      </div>

      <h6 class="card-title">Recipients</h6>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="toggle-inactive">
        <label class="custom-control-label" for="toggle-inactive">Include inactive members</label>
      </div>
        <div class="form-check">

            <div>
              
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="select-all" name="all">
                  Select All
              </label>
            </div> 

            <% @singers.each do |singer| %>
              <div id="singer-list">
                <label class="form-check-label <%= singer.active? ? 'active' : 'inactive' %>" >
                  <input type="checkbox" name="recipient[ids][]" class="singer form-check-input" value=<%= singer.id %>>
                    <%= singer.full_name %>
                </label>
              </div>
            <% end %>

        </div>

        <input type="button" name="btn" value="Send" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-primary mt-2" />
    <% end %>

  </div>
</div>

