
<p>
  <strong>First name:</strong>
  <%= @singer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @singer.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @singer.display_phone_number %>
</p>

<%= link_to 'Edit', edit_singer_path(@singer) %> |
<%= link_to 'Back', singers_path %>
