<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirm Submit
            </div>
            <div class="modal-body">
                Are you sure you want to send the following text:

                <div id="modal-message">
                </div>

                to the following people:

                <ul id="recipient-list">
                </ul>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-cancel">Cancel</button>
                <a href="#" id="modal-submit" class="btn btn-success success">Submit</a>
            </div>
        </div>
    </div>
</div><%= form_with(url: send_text_path, id: 'send-text-form')  do |form| %>

 
  <div class="field">
    <%= form.label :message %>
    <small id="passwordHelpBlock" class="form-text text-muted">
        <div>To substitute the recipient's name, click <button id="first_name_button">Insert First Name</button>.</div>
        <div>Ex:  "Hi {FIRSTNAME}!  Don't forget to practice your music!" becomes "Hi Pat!  Don't forget to practice your music!"</div>
    </small>
    <%= form.text_area :message %>
  </div>

  <h4>Recipients</h4>

    <div class="form-check">

        <%= collection_check_boxes(:recipient, :ids, @singers, :id, :first_name) do |b| %>
            <%= b.label  do %>
                <%= b.check_box class: "form-check-input" %>
                <%= b.text %> 
            <% end %>
        <% end %>
    </div>
  <div class="actions">
    <input type="button" name="btn" value="Send" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-default" />

  </div>
<% end %>

